{% extends 'Layouts/base.html.twig' %}

{% block title %}ROOM LIST
{% endblock %}

{% block body %}

	<div class="nav-hero">
		{% include "layouts/navbar.html.twig" %}
	</div>
	<div class="container">

		<div class="row my-5">
			<div class="col-md-10 mx-auto">
				<div class="card">
					<div class="card-header d-flex justify-content-between align-items-center">
						<span>List of reservations</span>
						<a href="{{path('room_create')}}" class="btn btn-sm btn-primary">
							Add
						</a>
					</div>
					<div class="card-body">
						<table class="table table-borderd table-hover">
							<thead>
								<tr>
									<th>ID</th>
									<th>NAME USER</th>
									<th>PHONE</th>
									<th>EMAIL</th>
									<th>CREATED AT</th>
									<th>UPDATED AT</th>
								</tr>
							</thead>
							<tbody>
								{% for user in users %}
									<tr>
										<td>{{loop.index}}</td>
										<td>{{user.name}}</td>
										<td>{{user.roles[0]}}</td>
										<td>
											{% if user.image %}
												<img src="{{asset('uploads/'~user.image)}}" alt="{{user.name}}" width="60" height="60" class="fluid my-2 rounded">
											{% else %}
												<img src="{{asset('uploads/default.jpg')}}" alt="{{user.name}}" width="60" height="60" class="fluid my-2 rounded">
											{% endif %}
										</td>
										<td>{{user.createdat | date("m/d/Y")}}</td>
										<td>{{user.createdat | date("m/d/Y")}}</td>
									</tr>

								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>


	{# {% include "layouts/footer.html.twig" %} #}


{% endblock %}
