{% extends 'Layouts/base.html.twig' %}

{% block title %}Profile
{% endblock %}

{% block body %}
<div class="nav-hero">
		{% include "layouts/navbar.html.twig" %}

	</div>

<div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
          {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
             {% endfor %}
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    {% if user.image %}
                        <img class="rounded-circle mt-5" width="150px" src="{{asset('uploads/'~user.image)}}"><span class="font-weight-bold">{{user.name}}</span><span class="text-black-50">{{user.email}}</span><span> </span>
                    {% else %}
                         <img src="{{asset('uploads/default.jpg')}}" alt="{{user.name}}"  width="60" height="60" class="fluid my-2 rounded">
                    {% endif %}
                </div>
            </div>
            <div class="col-md-3 border-right">
                
                 {{form(form)}}

            </div>
    </div>
</div>
        
 

{% endblock %}







